@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 70px;
}


.img {
	max-width: 200px;
}

.svg {
	max-width: 150px;
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.navbar {
	border-radius: 0;
}